name: Make

on:
  release:
    types: [published]
  push:
    branches:
      - '**'
    tags-ignore:
      - '**'
  schedule:
    - cron: '0 4 5,25 * *'
  workflow_dispatch:

jobs:
  configure-workflow:
    name: Configure workflow
    runs-on: ubuntu-latest
    outputs:
      should_skip: ${{ steps.skip_check.outputs.should_skip }}
    steps:
      - id: skip_check
        name: Configure skip-duplicate-actions
        uses: fkirc/skip-duplicate-actions@v5
        with:
          paths_ignore: '["**/README.md"]'
          do_not_skip: '["workflow_dispatch", "schedule", "release"]'
      - uses: actions/checkout@v4

  base:
    name: Make base images
    uses: ./.github/workflows/make-base.yaml
    needs: [configure-workflow]
    if: needs.configure-workflow.outputs.should_skip != 'true'
    with:
      image_repo: 'ghcr.io/arjenswartsenburg'
      ci_image_version: ci-${{ github.sha }}
      rel_image_version: ${{ github.ref_name }}
