name: Make Base

on:
  workflow_call:
    inputs:
      image_repo:
        description: 'Docker image repo'
        type: string
        required: true
      ci_image_version:
        description: 'Docker image version for CI'
        type: string
        required: true
      rel_image_version:
        description: 'Docker image version for release'
        type: string
        required: true

jobs:

  build-cell-build:
    uses: ./.github/workflows/build-image.yaml
    with:
      dockerfile: ./docker/cell-build.Dockerfile
      image_name: naavre-base-cell-build
      image_repo: ${{ inputs.image_repo }}
      image_version: ${{ inputs.ci_image_version }}

  build-cell-runtime:
    uses: ./.github/workflows/build-image.yaml
    with:
      dockerfile: ./docker/cell-runtime.Dockerfile
      image_name: naavre-base-cell-runtime
      image_repo: ${{ inputs.image_repo }}
      image_version: ${{ inputs.ci_image_version }}

  build-jupyter:
    uses: ./.github/workflows/build-image.yaml
    with:
      dockerfile: ./docker/jupyter.Dockerfile
      image_name: naavre-base-jupyter
      image_repo: ${{ inputs.image_repo }}
      image_version: ${{ inputs.ci_image_version }}

  push-cell-build:
    uses: ./.github/workflows/push-image.yaml
    if: |
      always() &&
      github.event_name == 'release'
    with:
      image_name: naavre-base-cell-build
      image_repo: ${{ inputs.image_repo }}
      ci_image_version: ${{ inputs.ci_image_version }}
      rel_image_version: ${{ inputs.rel_image_version }}

  push-cell-runtime:
    uses: ./.github/workflows/push-image.yaml
    if: |
      always() &&
      github.event_name == 'release'
    with:
      image_name: naavre-base-cell-runtime
      image_repo: ${{ inputs.image_repo }}
      ci_image_version: ${{ inputs.ci_image_version }}
      rel_image_version: ${{ inputs.rel_image_version }}

  push-jupyter:
    uses: ./.github/workflows/push-image.yaml
    if: |
      always() &&
      github.event_name == 'release'
    with:
      image_name: naavre-base-jupyter
      image_repo: ${{ inputs.image_repo }}
      ci_image_version: ${{ inputs.ci_image_version }}
      rel_image_version: ${{ inputs.rel_image_version }}